*{
    margin:0;
    padding:0;
}

body{
    background-image: url(/img/doggyprint.webp);
    background-repeat:repeat;
} 



/* registration */

.selected{
    border:2px solid red;
}


/* services */

#toggle{
    max-width: 90%;
    margin-top:2rem;
    
}

#serv2,#serv3,#serv4{
    display:none;
}
#toggle p{
    font-size:larger;
    font-weight: bold;
    text-shadow: .66px .66px rgba(255, 255, 255, 0.651);
}


#serv1 img,#serv2 img,#serv3 img,#serv4 img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.btn-wrap{
    display:flex;
    justify-content: space-between;
    margin: 1rem 0rem -0.5rem 0rem;  
    position:relative;
    z-index: 3000;
}

#serviceBtn1,#serviceBtn2,#serviceBtn3,#serviceBtn4{
    border: 1px solid black;
    background-color: black;
    color:white;
    height: auto;
    min-height: 50px;
    flex:1;
    font-weight: 800;
} 
#serviceBtn1:hover,#serviceBtn2:hover,#serviceBtn3:hover,#serviceBtn4:hover{
    background-color:rgba(0, 0, 0, 0.85);
} 
